<a href="https://colab.research.google.com/github/AntonioFlorido/TE/blob/main/Class02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Simple Python

In the class A, students' heights are:

161.5
165.9
168.7
163.1
170.8
167.2

In the class B, students' heights are:

172.5
162.9
161.7
160.1
161.8
169.2

The class A and the class B are joined together to form the class AB. Write a code to calculate the mean height by using Python 'list' and 'for' loop

In [ ]:
# create a list for class A heights and class B heights
class_A_heights = [161.5, 165.9, 168.7, 163.1, 170.8, 167.2]
class_B_heights = [172.5, 162.9, 161.7, 160.1, 161.8, 169.2]

# combine class A and class B heights into one list
class_AB_heights = class_A_heights + class_B_heights

# initialize a variable to store the sum of all heights
total_height = 0

# use a for loop to iterate through each height in the list and add it to the total height
for height in class_AB_heights:
    total_height += height
    print(height)
# calculate the mean height by dividing the total height by the number of heights in the list
mean_height = total_height / len(class_AB_heights)

# print the mean height
print("The mean height for class AB is:", mean_height)

161.5
165.9
168.7
163.1
170.8
167.2
172.5
162.9
161.7
160.1
161.8
169.2
The mean height for class AB is: 165.45000000000002

Write a python code to sort the heights of the class AB.

In [ ]:
# Heights of class A
class_a_heights = [161.5, 165.9, 168.7, 163.1, 170.8, 167.2]

# Heights of class B
class_b_heights = [172.5, 162.9, 161.7, 160.1, 161.8, 169.2]

# Combine heights of both classes
class_ab_heights = class_a_heights + class_b_heights

# Sort the heights in ascending order
class_ab_heights.sort()

# Print the sorted heights
print(class_ab_heights)

[160.1, 161.5, 161.7, 161.8, 162.9, 163.1, 165.9, 167.2, 168.7, 169.2, 170.8, 172.5]

 The class C is formed with students with the height less than 165. Make a list 'C' containing the heights of the class C.

In [ ]:
# Heights of students in Class A
class_a = [161.5, 165.9, 168.7, 163.1, 170.8, 167.2]

# Heights of students in Class B
class_b = [172.5, 162.9, 161.7, 160.1, 161.8, 169.2]

# Heights of students in Class C (less than 165 cm)
class_c = [height for height in class_a + class_b if height < 165]

print("Heights of students in Class C:", class_c)

Heights of students in Class C: [161.5, 163.1, 162.9, 161.7, 160.1, 161.8]

The class D is formed with students with the height larger than 160 and less than 170. Make a list containing the heights of the class D.

In [1]:
# Define the list of heights for class A
class_A = [161.5, 165.9, 168.7, 163.1, 170.8, 167.2]

# Define the list of heights for class B
class_B = [172.5, 162.9, 161.7, 160.1, 161.8, 169.2]

# Create an empty list to store the heights of students in class D
class_D = []

# Iterate through the heights in class A and add the heights that satisfy the condition to class D
for height in class_A:
    if 160 < height < 170:
        class_D.append(height)

# Iterate through the heights in class B and add the heights that satisfy the condition to class D
for height in class_B:
    if 160 < height < 170:
        class_D.append(height)

# Print the list of heights in class D
print(class_D)

[161.5, 165.9, 168.7, 163.1, 167.2, 162.9, 161.7, 160.1, 161.8, 169.2]

Use a lambda function and map() to answer the following questions.
1). Add 1 to each element of the list 'a' and create another list.

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# Define the list of heights for class A
class_A = [161.5, 165.9, 168.7, 163.1, 170.8, 167.2]

# Define the list of heights for class B
class_B = [172.5, 162.9, 161.7, 160.1, 161.8, 169.2]

# Use a lambda function and map to add 1 to each element in the list class_A
class_A_plus_1 = list(map(lambda x: x + 1, class_A))

# Use a lambda function and map to add 1 to each element in the list class_B
class_B_plus_1 = list(map(lambda x: x + 1, class_B))

# Print the new lists
print(class_A_plus_1)
print(class_B_plus_1)

[162.5, 166.9, 169.7, 164.1, 171.8, 168.2]
[173.5, 163.9, 162.7, 161.1, 162.8, 170.2]

In the following list of names, extract only those stargin with 'J'. Show the result as a list.

a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']

Code the class named 'Calculator' that outputs the result as shown.

calc1 = Calculator(5,3)


print(calc1.sum())

print(calc1.subtract())

print(calc1.product())

print(calc1.divide())


8

2

15

1.6666666666666667

Write function named 'palindrome' to test whether the entered word or sentence is a palindrome.
Ignore capitalization, spaces, punctuation marks, symbols, etc. This code should be written with simple python without importing any libraries

Palindrome examples:

mom

wow

noon

level

radar

kayak

racecar

God's dog

Madam, I'm Adam

#Example from pandas, numpy, and matplotlib libraries

Write a python code that generates 1000 random number between -5 and 5 with normal distribution and then plot them:

Read in the data:

!wget --no-clobber https://raw.githubusercontent.com/tn-220/EmergingClass/main/data_studentlist.csv

df = pd.read_csv('data_studentlist.csv', header='infer')

df.head(5)

**Answer the following questions using Pandas library.**

1) Average height of the male students:

2) Average height of the female students:

3) Average weight of the male students:

4) The tallest height among the male students:

5) The average grade of students with absence ('Y'):

6) Average age of the students with absence ('Y') whose grade is equal or larger than 3:

Use pandas and numpy for following:

Read in the data.

!wget --no-clobber https://raw.githubusercontent.com/tn-220/EmergingClass/main/data_census.csv

df = pd.read_csv('data_census.csv', header='infer')

df.shape

df.head(10)

**Answer the following questions using Pandas library.**

1) Total population of ProvinceCode equal to 115 and 116:

2) Average population of the cities where there are more males (GenderRatio >1:


3) Places with more males (GenderRatio >1) and less than 2 persons per household:


4) Sort the DataFrame in ascending order of the 'Households'. Show the top 10.

###Import pandas, numpy , and mathplotlib

Read in the data.
!wget --no-clobber https://raw.githubusercontent.com/tn-220/EmergingClass/main/data_coffeeshop.csv

**Answer the following questions.**

1) Make a frequency table of 'yearOfStart' and visualize by year.


* Sort by the year.

* Draw a line plot from 1997 to 2014. <= Hint: plt.xlim()

2) Now, split the data by the current state of business ('In' or 'Out' of business). Then, visualize the yearly trend of the 'yearOfStart' frequencies.

* Sort by the year.
* Draw two overlapping line plots from 1997 to 2014.
* Use the 'figure' object.

3) From the results of 1) and 2), how can you describe the trend in general?

* Around the year 2008, began a steep increase in the number of new coffee shops.
* As of the year 2014, more coffee shops opened in the past 5 years are still in business rather than going out of business.